rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone to view trees
    match /trees/{treeId} {
      allow read: if true;
			allow create: if request.auth != null;
      // Restrict access to notes to authenticated users only
      match /notes/{noteId} {
        allow read, create: if request.auth != null; // Allow only authenticated users
      }
    }
  }
}